Implement the missing value, and outlier handling data preprocessing techniques on the dataset imported in lab 4 or any other dataset.

In [9]:
# Let's load and inspect the dataset to understand its structure and identify missing values and outliers.
import pandas as pd

# Load the dataset
data = pd.read_csv('student-dataset.csv')


# Display basic information and the first few rows of the dataset
data_info = data.info()
data_head = data.head()

data_info, data_head

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB

(None,
    id             name               nationality                 city  \
 0   0        Kiana Lor                     China               Suzhou
 1   1   Joshua Lonaker  United States of America        Santa Clarita
 2   2    Dakota Blanco  United States of America              Oakland
 3   3  Natasha Yarusso  United States of America        Castro Valley
 4   4   Brooke Cazares                    Brazil  São José dos Campos

    latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
 0     31.31     120.62      F           NaN   22            3.5         3.7
 1     34.39    -118.54      M           NaN   22            2.9         3.2
 2     37.80    -122.27      F           NaN   22            3.9         3.8
 3     37.69    -122.09      F           NaN   20            3.3         2.8
 4    -23.18     -45.88      F           NaN   21            3.7         2.6

    sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
 0             3.1             1.0                 4                 4.0
 1             3.6             5.0                 5                 4.0
 2             3.2             5.0                 3                 3.0
 3             3.2             5.0                 5                 2.0
 4             3.4             1.0                 4                 4.0

    refletter.rating
 0                 4
 1                 5
 2                 4
 3                 4
 4                 5  )

In [10]:
# Handling missing values: Dropping the "ethnic.group" column as it contains 100% missing data
data_cleaned = data.drop(columns=['ethnic.group'])

# Now let's check for outliers using the IQR method for numeric columns
numeric_columns = ['english.grade', 'math.grade', 'sciences.grade', 'language.grade',
                   'portfolio.rating', 'coverletter.rating', 'refletter.rating']

# Calculate Q1 (25th percentile) and Q3 (75th percentile) for each numeric column
Q1 = data_cleaned[numeric_columns].quantile(0.25)
Q3 = data_cleaned[numeric_columns].quantile(0.75)
IQR = Q3 - Q1

# Define outliers as values below (Q1 - 1.5 * IQR) or above (Q3 + 1.5 * IQR)
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = ((data_cleaned[numeric_columns] < lower_bound) |
            (data_cleaned[numeric_columns] > upper_bound))

# Count of outliers in each column
outlier_count = outliers.sum()

outlier_count

english.grade          8
math.grade             0
sciences.grade        14
language.grade        23
portfolio.rating       3
coverletter.rating    10
refletter.rating      14
dtype: int64