In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('student-dataset.csv')

In [4]:
# 1. Display basic information about the dataset
print("Dataset Info:")
print(df.info())

print("\nDataset Description:")
print(df.describe())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  307 non-null    int64
 1   name                307 non-null    object
 2   nationality         307 non-null    object
 3   city                307 non-null    object
 4   latitude            307 non-null    float64
 5   longitude           307 non-null    float64
 6   gender              307 non-null    object
 7   ethnic.group        0 non-null      float64
 8   age                 307 non-null    int64
 9   english.grade       307 non-null    float64
 10  math.grade          307 non-null    float64
 11  sciences.grade      307 non-null    float64
 12  language.grade      307 non-null    float64
 13  portfolio.rating    307 non-null    int64
 14  coverletter.rating  307 non-null    float64
 15  refletter.rating    307 non-null    int64
dtypes: float64(8), int64(4), object(4)
memory usage: 38.5+ KB
None

Dataset Description:
               id    latitude   longitude  ethnic.group         age  \
count  307.000000  307.000000  307.000000           0.0  307.000000
mean   153.000000   32.863388  -64.539121           NaN   21.964169
std     88.767487   13.498582   81.249146           NaN    1.248013
min      0.000000  -33.450000 -123.130000           NaN   19.000000
25%     76.500000   32.720000 -118.240000           NaN   21.000000
50%    153.000000   34.390000  -99.140000           NaN   22.000000
75%    229.500000   38.960000  -73.855000           NaN   23.000000
max    306.000000   59.890000  139.750000           NaN   26.000000

       english.grade  math.grade  sciences.grade  language.grade  \
count     307.000000  307.000000      307.000000      307.000000
mean        3.369707    3.414332        3.446580        4.396417
std         0.538724    0.476839        0.509081        0.996474
min         1.500000    2.100000        1.400000        1.000000
25%         3.100000    3.100000        3.200000        4.000000
50%         3.500000    3.500000        3.600000        5.000000
75%         3.800000    3.800000        3.800000        5.000000
max         4.000000    4.000000        4.000000        5.000000

       portfolio.rating  coverletter.rating  refletter.rating
count        307.000000          307.000000        307.000000
mean           3.986971            4.110749          4.188925
std            0.928749            0.823936          0.842193
min            1.000000            1.000000          1.000000
25%            3.500000            4.000000          4.000000
50%            4.000000            4.000000          4.000000
75%            5.000000            5.000000          5.000000
max            5.000000            5.000000          5.000000

In [5]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
id                      0
name                    0
nationality             0
city                    0
latitude                0
longitude               0
gender                  0
ethnic.group          307
age                     0
english.grade           0
math.grade              0
sciences.grade          0
language.grade          0
portfolio.rating        0
coverletter.rating      0
refletter.rating        0
dtype: int64

In [7]:
# Analyze categorical variables
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    print(f"\nValue counts for {col}:")
    print(df[col].value_counts())

Value counts for name:
name
Kiana Lor              1
Kyler Overboe          1
Makenzie Swann         1
Andrew Brunelli        1
Jesse Hodapp           1
                      ..
Mamdooh el-Moustafa    1
Rachel Bakeman         1
Antonio Desai          1
Jason Hundsdorfer      1
Dane Whittemore        1
Name: count, Length: 307, dtype: int64

Value counts for nationality:
nationality
United States of America    193
Mexico                       24
China                        13
Japan                        13
Brazil                        9
India                         8
Canada                        7
Russian Federation            6
Colombia                      5
Korea (Republic of)           3
Pakistan                      3
Spain                         2
Turkey                        2
United Kingdom                2
Dominican Republic            1
Bangladesh                    1
Thailand                      1
Chile                         1
Netherlands                   1
Morocco                       1
Ukraine                       1
Egypt                         1
El Salvador                   1
Germany                       1
Peru                          1
Philippines                   1
Myanmar                       1
Tunisia                       1
Cuba                          1
Poland                        1
Nicaragua                     1
Name: count, dtype: int64

Value counts for city:
city
Los Angeles     46
New York        18
Tokyo           11
Mexico          10
San Diego       10
                ..
Waukegan         1
Rangoon          1
Kettering        1
Manzil Tamim     1
Columbus         1
Name: count, Length: 161, dtype: int64

Value counts for gender:
gender
F        152
M        151
other      4
Name: count, dtype: int64

In [10]:
#Correlation analysis for numerical variables
correlation_matrix = df[numerical_cols].corr()
print("\nCorrelation Matrix:")
print(correlation_matrix)

# Summary of findings
print("\nSummary of Findings:")
print("1. Dataset Shape:", df.shape)
print("2. Numerical Variables:", ", ".join(numerical_cols))
print("3. Categorical Variables:", ", ".join(categorical_cols))
print("4. Highest Correlation:", correlation_matrix.unstack().sort_values(ascending=False).drop_duplicates().index[1]) # correlation_matrix is defined before this line
print("5. Variable with highest variance:", df[numerical_cols].var().idxmax())
for col in categorical_cols:
    print(f"6. Most common category in {col}:", df[col].mode()[0])

Correlation Matrix:
                          id  latitude  longitude  ethnic.group       age  \
id                  1.000000 -0.003858  -0.143509           NaN -0.041475
latitude           -0.003858  1.000000  -0.022410           NaN -0.013483
longitude          -0.143509 -0.022410   1.000000           NaN -0.001897
ethnic.group             NaN       NaN        NaN           NaN       NaN
age                -0.041475 -0.013483  -0.001897           NaN  1.000000
english.grade       0.041590 -0.055734  -0.077222           NaN -0.001620
math.grade         -0.003799  0.018960   0.069241           NaN  0.018438
sciences.grade     -0.082369  0.049476  -0.005642           NaN -0.097152
language.grade      0.208996  0.422806  -0.617455           NaN  0.026963
portfolio.rating    0.067109 -0.024638   0.050983           NaN -0.051154
coverletter.rating  0.039476 -0.046231  -0.035625           NaN -0.050156
refletter.rating   -0.003628 -0.049537   0.042415           NaN -0.033958

                    english.grade  math.grade  sciences.grade  language.grade  \
id                       0.041590   -0.003799       -0.082369        0.208996
latitude                -0.055734    0.018960        0.049476        0.422806
longitude               -0.077222    0.069241       -0.005642       -0.617455
ethnic.group                  NaN         NaN             NaN             NaN
age                     -0.001620    0.018438       -0.097152        0.026963
english.grade            1.000000   -0.011535        0.004804        0.031696
math.grade              -0.011535    1.000000        0.058225       -0.019699
sciences.grade           0.004804    0.058225        1.000000        0.012119
language.grade           0.031696   -0.019699        0.012119        1.000000
portfolio.rating         0.024681    0.102994        0.058656       -0.034303
coverletter.rating      -0.094754    0.086612        0.105307       -0.046881
refletter.rating        -0.017596   -0.027108        0.006848       -0.042804

                    portfolio.rating  coverletter.rating  refletter.rating
id                          0.067109            0.039476         -0.003628
latitude                   -0.024638           -0.046231         -0.049537
longitude                   0.050983           -0.035625          0.042415
ethnic.group                     NaN                 NaN               NaN
age                        -0.051154           -0.050156         -0.033958
english.grade               0.024681           -0.094754         -0.017596
math.grade                  0.102994            0.086612         -0.027108
sciences.grade              0.058656            0.105307          0.006848
language.grade             -0.034303           -0.046881         -0.042804
portfolio.rating            1.000000           -0.019461          0.019869
coverletter.rating         -0.019461            1.000000          0.040391
refletter.rating            0.019869            0.040391          1.000000

Summary of Findings:
1. Dataset Shape: (307, 16)
2. Numerical Variables: id, latitude, longitude, ethnic.group, age, english.grade, math.grade, sciences.grade, language.grade, portfolio.rating, coverletter.rating, refletter.rating
3. Categorical Variables: name, nationality, city, gender
4. Highest Correlation: ('latitude', 'language.grade')
5. Variable with highest variance: id
6. Most common category in name: Aaqil el-Hashemi
6. Most common category in nationality: United States of America
6. Most common category in city: Los Angeles
6. Most common category in gender: F